body{
    margin: 0;
    overflow-x: hidden;
    background-image: url("https://images.unsplash.com/photo-1530196606945-81ab3df90d91?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=945&q=80");
    color: white !important;
}

:root{
    --caveat : Caveat, cursive;
    --lobster : Lobster, cursive;
    --sniglet : Sniglet, cursive;
    --handlee : Handlee, cursive;
}

/* ------------ Font Family Classes ------------ */
.caveat{
    font-family: var(--caveat);
}
.lobster{
    font-family: var(--lobster);
}
.sniglet{
    font-family: var(--sniglet);
    font-weight: lighter;
}
/* ------x----- Font Family Classes ------x----- */

/* ------------- Colors ------------- */

.grey{
    color: rgb(224, 222, 222);
}

/* -------x----- Colors -----x------- */

/* -------- Current Event -------- */

.main{
    display: flex;
}
.events{
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100vh;
}
.event-title{
    font-family: var(--handlee);
    font-weight: lighter;
    font-size: 28px;
    max-width: 60%;
    margin: auto;
    padding-top: 5%;
}
.countdown{
    display: flex;
    justify-content: center;
}
.countdown-days, .countdown-hours, .countdown-minutes, .countdown-seconds{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.size-48px{
    font-size: 48px;
    font-family: var(--lobster);
    font-weight: bolder;
}

.italic-style-text{
    font-size: 20px;
    font-family: var(--caveat);
}
/* ------x------ Current Event -----x------ */

/* ------------ Upcoming Events ------------ */
.up-events-title{
    margin-top: 15%;
}
.upcoming-events{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.birthday{
    padding: 20px;
    margin: 5px;
    font-size: 18px;
    font-family: var(--sniglet);
    border: 1px solid white;
}
/* ------x----- Upcoming Events ------x----- */

/* ------------ Media Queries -------------*/
@media only screen and (max-width: 278px){
    .countdown{
       flex-direction: column; 
    }
    .colon{
        display: none;
    }
}
@media only screen and (max-width: 501px){
    .upcoming-events{
        flex-direction: column;
    }
}